
{{#each beers as |beer|}}
<h3 data-type="{{beer.name}}">{{beer.name}}</h3>
<ul class="beerItem" data-id="{{beer.id}}">
  {{#if beer.brand}}
    <li data-type="{{beer.brand}}">Brand: {{beer.brand}}</li>
  {{else}}
    <li>No brand available</li>
  {{/if}}

  {{#if beer.style}}
    <li data-type="{{beer.style}}">Style: {{beer.style}}</li>
  {{else}}
    <li>No style available.</li>
  {{/if}}

  {{#if beer.alc}}
    <li data-type="{{beer.alc}}">Alc Content: {{beer.alc}}</li>
  {{else}}
    <li>No alc content available.</li>
  {{/if}}

  {{#if beer.price}}
    <li data-type="{{beer.price}}">Price: {{beer.price}}</li>
  {{else}}
    <li>No price available.</li>
  {{/if}}
</ul>
  <button class="deleteBeer btn btn-default button" data-id="{{beer.id}}">Delete</button>
  <button class="openBeerUpdate btn btn-default button" data-id="{{beer.id}}">Update</button>
{{/each}}
