
{{#each beers as |beer|}}
<tr>
  <td class="col-xs-2" align="center">
    <a class="btn btn-default openBeerUpdate" data-id="{{beer.id}}"><em class="fa fa-pencil"></em></a>
    <a class="btn btn-danger deleteBeer" data-id="{{beer.id}}"><em class="fa fa-trash"></em></a>
  </td>
  <td class="col-xs-2" data-type="{{beer.name}}">{{beer.name}}</td>
  {{#if beer.brand}}
    <td class="col-xs-2 brand" data-type="{{beer.brand}}">{{beer.brand}}</td>
  {{else}}
    <td></td>
  {{/if}}

  {{#if beer.style}}
    <td class="col-xs-2 style" data-type="{{beer.style}}">{{beer.style}}</td>
  {{else}}
    <td></td>
  {{/if}}

  {{#if beer.alc}}
    <td class="col-xs-1 alc" data-type="{{beer.alc}}">{{beer.alc}}</td>
  {{else}}
    <td></td>
  {{/if}}

  {{#if beer.price}}
    <td class="col-xs-1 price" data-type="{{beer.price}}">{{beer.price}}</td>
  {{else}}
    <td></td>
  {{/if}}
</tr>
{{/each}}
